body {
    background-image: url("high-line.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
.paper {
    padding-top: 150px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    }
.form {
      width: '100%';
      margin-top: 1px;
    }
.submit {
      margin: 3, 0, 2;
    }
