.body {
    background-color: white;
    }
.paper {
    margin-Top: 8px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    }
.avatar {
    margin: 1px;
    background-color: royalblue;
    }
.form {
      width: '100%';
      margin-top: 1px;
    }
.submit {
      margin: 3, 0, 2;
    }
